<footer class='container'>
  <div class='row'>
    <p class='text-center'>
      Created as a sample project for <%= link_to "Codemy.net Elasticsearch Series", "https://www.youtube.com/playlist?list=PLjQo0sojbbxWcy_byqkbe7j3boVTQurf9", target: "_blank" %>
    </p>
    <p class='text-center'>View <%= link_to "Source on Github", "https://github.com/zacksiri/moviedb", target: "_blank" %></p>
  </div>
</footer>