<h1>All Movies</h1>

<nav class='navbar navbar-default'>
  <div class='container'>
    <%= form_tag movies_path, class: 'navbar-form navbar-left', role: 'search', method: :get do |f| %>
      <div class='form-group'>
        <%= text_field_tag :q, params[:q], class: 'form-control' %>
      </div>
      <%= button_tag "Search", class: 'btn btn-default', name: nil %>
    <% end %>
  </div>
</nav>

<%= render @movies %>