<div class='row'>
  <div class='col-md-9'>
    <% @movies.each do |movie| %>
      <%= render 'movie', movie: movie %>
    <% end %>
  </div>
  <div class='col-md-3'>
    <% @aggs.each do |agg| %>
      <%= render 'aggregations/aggregation', agg: agg %>
    <% end %>
  </div>
</div>